<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Music App</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href={{ url_for('static', filename='styles.css')}} />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<!--Make background the album blurred -->

<body class="bg-image p-5 m-3" style="background-image: url('{{url_for('static', filename='music.jpg')}}'); background-size: cover; background-repeat: no-repeat;">
  <div class="text-center">
    <h1 class="text-white top-title">Music Discovery</h1>
  </div>
  <!-- Search Box -->
  <form class="form-group row" action="/" method="post">
    <div class="form-row mx-auto">
      <div class=" card-title col-xs-4 center">
        <input type="text" class="form-control" name="artist_input"  placeholder="Enter artist">
      </div>
      <div class="input-group-append center">
        <button type="submit" class="btn btn-primary mb-4" name="search-btn" aria-pressed="true" role="button">Search</button>
      </div>
    </div>
  </form>
  <!-- Search Box END -->
  <!-- Card Display -->
  <div class="card center text-center card-display">
    <img class="card-img-top album" src="{{artist['image']}}">
    {% if error == True %}
      <h3>Artist not found</h3>
    {% endif %}
    <div class="card-body text-center">
      <h4 class="title">{{artist['track']}}</h4>
      <p class="artist">by {{artist['artist']}}</p>
      <!-- Audio Preview -->
      {% if artist['preview'] == None %}
        <p>No preview available</p>
      {% else %}
        <div class="d-flex justify-content-center">
          <audio controls src="{{ artist['preview']}}">
                Your browser does not support the
                <code>audio</code> element.
          </audio>
        </div>
      {% endif %}
      <!-- End of Audio Preview -->
      <form action="/" method="post">
        <input type="hidden" name="artist" value="{{artist['artist']}}">
        <input type="hidden" name="track" value="{{artist['track']}}">
        <button type="submit" class="btn btn-primary lyric_btn" role="button" name="search_lyrics">Search Lyrics</button>
      </form>
      {% if lyric_error == True %}
        <h4>Lyrics not found</h4>
      {% endif %}
    </div>
  </div>
  <!-- Card display END -->
  <br>
  <div class="row justify-content-center">
    <form class="mx-auto" action"/" method="post">
      <div class="mx-auto">
        <button type="submit" class="btn btn-primary" name="refresh" role="button"><i class="fa fa-random"></i></button>
      </div>
    </form>
  </div>
  <br>
  <!-- History starts -->
  {% if length > 1 %}
  <div class="row">
    <div class="card mx-auto" style="width: 18rem;">
      <div class="card-header">
        Replay song!
      </div>
        <ul class="list-group list-group-flush">
        {% for i in range(0,length-1) %}
          <li class="list-group-item">
            <form class="" action="/" method="post">
              <input type="hidden" name="index" value="{{ i }}">
              <button type="submit" class="btn bg-transparent history" name="recent">{{history[i]["track"]}}</button>
            </form>
          </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  </div>
  <!-- History Ends -->
</body>
</html>
